<div class="text-center font-italic">
  <h3 class="p-3">Your message</h3>
  <form (ngSubmit)="onSendMessage()" #form="ngForm">
    <div class="form-group m-4">
      <label for="author">Your name:</label>
      <input type="email" class="form-control border-primary" id="author" name="author" placeholder="Author" ngModel/>
    </div>
    <div class="form-group m-4">
      <label for="text">Your text:</label>
      <textarea class="form-control border-primary" id="text" rows="5" name="message" placeholder="Text...." ngModel></textarea>
    </div>
    <div class="form-group d-flex justify-content-center">
      <button
        class="btn btn-success pr-3 pl-3"
        [disabled]="
      form.value.author === '' ||
      form.value.message === '' ||
      loading">
        <span *ngIf="!loading">Send</span>
        <span *ngIf="loading" class="spinner-border spinner-border-sm"><span class="sr-only">Removing...</span></span>
      </button>
    </div>
  </form>
</div>
