<div class="wrapper">
  <div>
    <app-toolbar></app-toolbar>
  </div>
  <div class="main row">
    <div class="col-7 m-3 text-center">
      <h3 class="m-2 pb-3">Messages</h3>
      <div class="message-div">
        <app-messages></app-messages>
      </div>
    </div>
    <div class="col-4 m-3">
      <app-form></app-form>
    </div>
  </div>
  <div>
    <app-footer></app-footer>
  </div>
</div>
