.message {
  overflow: hidden;
}

.preloader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 45%;
}
.preloader div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.preloader div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 1px;
    left: 1px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
