<ng-container *ngIf="!loading, else preloader">
  <div class="d-flex justify-content-center text-center font-italic"
       *ngFor="let message of messagesArray, let i = index">
    <div class="card message m-3 text-dark border-primary " style="width: 38rem;">
      <div class="d-flex justify-content-around card-header bg-primary text-white p-0">
        <h5 class="p-2">Author: {{message.author}}</h5>
        <p class="pt-3">{{messagesArrayDate[i]}}</p>
      </div>
      <p class="card-text p-3">{{message.message}}</p>
    </div>
  </div>
</ng-container>
<ng-template #preloader>
  <div class="preloader">
    <div></div>
    <div></div>
  </div>
</ng-template>
