body,html {
  height: 100%;
  line-height: 1;
  margin: 0;
  color: white;
  box-sizing: border-box;
  background: black;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 6px #ffffff;
}

body::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 5px;
}
